<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="NFineDbContext" connectionString="Server=47.94.237.68;Initial Catalog=WXL_OA;User ID=sa;Password=topsky1850." providerName="System.Data.SqlClient" />
  <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=DCloudNetDb;User ID=sa;password=123qweASD;"/>
</connectionStrings>